* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vw;
    grid-template-rows: 185px 1fr 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

header, footer {
    background-color: rgb(45, 45, 45);
    color: white;
    grid-column: 1/4;
}

header {
    display: flex;
    flex-wrap: wrap;
}


header h1 {
    padding: 2rem;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

nav {
    display: block;
    background-color: black;
    height: 50px;
    align-content: space-evenly;  
    align-self: flex-end;
    flex: 100%;
}

ul.navigation-links {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex: 100%;
    align-self: start;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li {
    padding: 10px;
}

nav li:hover {
    background-color: rgb(148, 45, 148);
    transition: 1s;
}

main {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    margin: 20px;
    background-color: rgb(214, 214, 214);
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
    overflow: hidden;
}

.card:nth-child(1) {
    grid-column: span 2;
}

.card:nth-child(1) img {
    float: right;
    margin: 20px;
}

.card h2 {
    background-color: rgb(45, 45, 45);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.card p {
    margin: 2rem;
    font-size: 24px;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}