@media screen and (min-width: 650px) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    header, main, footer{
        grid-column: 1/5;
    }
    
    main {
        grid-row: 2/3;
    }
    picture{
        grid-column: 1/5;
        grid-row: 2/3;
        position: relative;
    }

    picture img {
        display: block;
        width: 100%;
        height: auto;

    }
    
    section {
    border: none;
    background-color: rgba(255, 255, 255, 0.759);
    padding: 10px;
    }

    h2 {
        background-color: var(--header-back);
        display: block;
        padding: 3px;
        margin: 10px 30px 10px -20px;
        color: white;
        text-align: left;
    }
    .data {
        position: absolute;
        top: 180px;
        left: 20px;
    }
    
    .data h2 {
        padding-left: 12px;
    }
    .weather {
        position: absolute;
        bottom: 180px;
        right: 20px;
    }

    .weather h2 {
        display: flex;
        justify-content: space-around;
    }

    #emoji {
        display: block;
    }

    #svg {
        display: none;
    }

    footer {
        grid-row: 3/4;
    }
}