* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header: Poppins, sans-serif;
    --red: rgb(206, 22, 22);
    --body: Roboto, sans-serif;
}

body {
    text-align: center;
    font-family: var(--body);
}

h1, h2, h3 {
    font-family: var(--header);
}

header {
    display: flex;
    padding: 30px;
    justify-content: center;
    border-bottom: var(--red) solid 20px;
}

section {
    border-bottom: solid 2px rgb(239, 239, 239);
    padding-bottom: 20px;
}

h2{
    padding: 30px;
}

p {
    padding: 5px;
}

strong {
    font-weight: bold;
}

#windchill::after {
    content: "°F";
}
#emoji {
    display: none;
}