* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header: Poppins, sans-serif;
    --red: rgb(179, 0, 0);
    --body: Roboto, sans-serif;
    --header-back: green;
}

body {
    text-align: center;
    font-family: var(--body);
}

h1, h2, h3 {
    font-family: var(--header);
}

header {
    display: flex;
    padding: 30px;
    justify-content: center;
    border-bottom: var(--red) solid 20px;
}

section {
    border-bottom: solid 2px rgb(239, 239, 239);
    padding-bottom: 20px;
}

h2{
    padding: 30px;
    text-align: center;
}

li {
    list-style: none;
}


.data, .weather {
    margin: 0 auto;
    text-align: left;
}

b {
    font-weight: 700;
    display: inline-block;
    width: 50%;
    position: relative;
    padding-right: 10px;
    text-align: right;
}



#svg {
    text-align: center;
}

#temperature::after {
    content: "°F";
}

footer {
    padding: 20px;
    background-color: var(--red);
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--header);
}