@media screen and (min-width: 866px) {
    body {
        overflow: visible;
    }

    header {
        display: flex;
        flex: 0 1 50%;
    }

    #menuButton {
        display: none;
    }

    .links, .links.open {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        order: 1;
        width: auto;
    }

    nav {
        flex-basis: 60%;
        margin: 2vw;
    }

    nav a:hover {
        background-color: black;
        color: white;
        padding: 20px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        width: 100%;
    }
}